<div class="container">
  <div class="row justify-content-end">
    <div class="col-md-6">
      <!-- Dropdown -->
      <div class="input-group bg-light">
        <div class="dropdown">
          <button
            class="btn dropdown-toggle text-secondary d-flex align-items-center border-0"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <mat-icon>photo</mat-icon>
          </button>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <!-- Adicione as opções do dropdown aqui -->
            <a class="dropdown-item" href="#">Opção 1</a>
            <a class="dropdown-item" href="#">Opção 2</a>
            <a class="dropdown-item" href="#">Opção 3</a>
          </div>
        </div>
        <input
          type="text"
          [formControl]="searchControl"
          (input)="onSearch($event)"
          class="form-control border-0 bg-transparent"
          placeholder="Pesquisar"
          aria-label="Pesquisar"
          aria-describedby="button-addon2"
        />
        <!-- <input type="text" [formControl]="searchControl" placeholder="Search images"> -->
        <button class="btn align-items-center" type="button" id="button-addon2">
          <mat-icon class="align-middle">search</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
      <div *ngFor="let image of images">
        <div>
          <img [src]="image.imageData" alt="{{ image.name }}" />
          <p>{{ image.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
