<app-navbar></app-navbar>
<div class="container p-0">
  <div class="d-flex justify-content-between">
    <div>
      <h1>Upload de Ficheiros</h1>
    </div>
    <div class="mt-3">
      <button class="btn btn-danger d-flex align-items-center">
        <mat-icon class="me-2">add_a_photo</mat-icon>
        <span>Finalizar Upload</span>
      </button>
    </div>
  </div>
</div>

<div class="container bg-light mt-3">
  <div class="row">
    <div
      class="col-8 mt-5 bg-primary fixed-height-500 d-flex justify-content-center align-items-center"
    >
      <div class="image">
        <img [src]="url" class="w-100 bg-warning" />
        <!-- width="100px" height="100px" /> -->
        <!-- <img src="../../assets/img/{{url}}" width="100px" height="100px"> -->
        <!-- <input type="file" class="form-control" id="inputGroupFile02" /> -->
        <!-- <label class="input-group-text" for="inputGroupFile02">Upd</label> -->
      </div>
    </div>

    <div class="col-4 mt-5 bg-danger p-4">
      <!-- Angular Reactive form with titulo, nome do file, palavras chave, preco, descicao, data atual -->
      <form [formGroup]="uploadForm">
        <div class="mb-2">
          <label class="form-labell fs-6 fw-medium">Título</label>
          <input
            type="text"
            class="form-control"
            placeholder="Inserir Título"
          />
          <!-- <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div> -->
        </div>
        <div class="mb-2">
          <label class="form-labell fs-6 fw-medium">Nome do Ficheiro</label>
          <input
            type="file"
            class="form-control"
            (change)="onselectfile($event)"
          />
          <!-- <button (click)="setimage(img.files)">SET</button> -->

          <!-- <input
            type="text"
            class="form-control"
            placeholder="Inserir Nome original do Ficheiro"
          /> -->
          <!-- <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div> -->
        </div>

        <div class="mb-2">
          <label class="form-labell fs-6 fw-medium">Palavras Chave</label>
          <input type="text" class="form-control" placeholder="Inserir Tags" />
          <!-- <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div> -->
        </div>

        <!-- <mat-chip-list aria-label="Fish selection">
          <mat-chip>One fish</mat-chip>
          <mat-chip>Two fish</mat-chip>
          <mat-chip color="primary" selected>Primary fish</mat-chip>
          <mat-chip color="accent" selected>Accent fish</mat-chip>
        </mat-chip-list> -->

        <div class="mb-2">
          <label class="form-labell fs-6 fw-medium">Preço</label>
          <input
            type="number"
            id="preco"
            class="form-control w-25"
            placeholder="00.00$"
            formControlName="preco"
          />
        </div>

        <div class="mb-2 row">
          <label class="col-md-2 col-form-label form-labell fs-6 fw-medium"
            >Descrição</label
          >
          <div class="col-md-10">
            <textarea
              id="description"
              formControlName="description"
              class="form-control"
              placeholder="Inserir Descrição"
            ></textarea>
          </div>
        </div>

        <div class="mb-2">
          <label class="form-labell fs-6 fw-medium">Data de Upload</label>
          <label class="form-labell fs-6 fw-medium">valor</label>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- 
<form [formGroup]="fileForm" (ngSubmit)="onSubmit()">
 <mat-form-field>
    <mat-label>Título</mat-label>
    <input matInput formControlName="title" placeholder="Inserir Titulo">
 </mat-form-field>

 <mat-form-field>
    <mat-label>Nome do ficheiro</mat-label>
    <input matInput formControlName="fileName" readonly placeholder="Inserir nome original do ficheiro">
 </mat-form-field>

 <mat-form-field>
    <mat-label>Palavras Chave</mat-label>
    <input matInput formControlName="tags" placeholder="Inserir Tags">
 </mat-form-field>

 <mat-form-field>
    <mat-label>Preço</mat-label>
    <input matInput formControlName="price" placeholder="00.00$">
 </mat-form-field>

 <mat-form-field>
    <mat-label>Descrição</mat-label>
    <textarea matInput formControlName="description" placeholder="Inserir descrição de ficheiro"></textarea>
 </mat-form-field>

 <mat-form-field>
    <mat-label>Criado em</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="createdDate" placeholder="27/10/2022">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
 </mat-form-field>

 <button mat-raised-button color="primary" type="submit" [disabled]="!fileForm.valid">Finalizar Upload</button>
</form> -->
